@using HitThatLine.Utility
@using FubuMVC.Core.UI
@model HitThatLine.Endpoints.Home.Models.ThreadSummaryViewModel
<div class="threadSummaryWrapper grid_12">
    <div class="grid_1" style="text-align: center">
        @this.Clear(10)
        <div style="font-size: 32px; font-weight: bold">@Model.NetVotes</div>
        @this.Clear(20)
        <div style="font-weight: bold">@Model.PostCount replies</div>
        @this.Clear(10)
        <div style="font-weight: bold">
            @Model.ViewCount views</div>
    </div>
    <div class="grid_1">
        <img src="@Model.AuthorProfilePictureUrl"/>
    </div>
    <div class="grid_9">
        @this.LinkTo(Model.ViewThreadRequest).Text(Model.Title).AddClass("threadSummaryTitle")
        @this.Clear()
        <div class="grid">@Model.TimePostedDifference</div>
        @this.Clear(5)
        <div class="threadPreview">@Raw(Model.DisplayBody)</div>
        @this.Clear(5)
        @foreach (var tag in Model.Tags)
        {
            <div class="selectedTag">
                <a href="#">@tag</a></div>
        }
        @this.Clear()
    </div>
    @this.Clear(5)
    <div class="grid_9 prefix_2">
        <div class="grid">
            last active @Model.LastActivityDifference by <a href="#" class="username-small">@Model.LastActivityUsername</a>
        </div>
    </div>
</div>
