@using HitThatLine.Endpoints.Account.Models
@model HitThatLine.Endpoints.Account.Models.SummaryViewModel
@if(Model.LoggedIn)
{
    <div style="float:right">
        <div class="user-summary-pic grid">
            <img src="@Model.UserProfilePictureUrl" alt="@Model.UserUsername"/>    
        </div>
        <div class="user-summary-actions grid">
            <a href="#">@Model.UserUsername</a> <text>|</text> @(this.LinkTo<LogoutRequest>().Text("Logout"))    
        </div>
    </div>
}
else
{
    <div class="user-summary-actions grid">
        @(this.LinkTo<LoginRequest>().Text("Login")) <text>|</text> @(this.LinkTo<RegisterRequest>().Text("Register"))    
    </div>
}